<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread]  %highlight(%-5level) [%logger{36}] - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="io.netty" level="ERROR"/>
  <logger name="org.springframework" level="INFO"/>
  <logger name="reactor.netty" level="ERROR"/>
  <logger name="org.hibernate" level="ERROR"/>
  <logger name="org.synchronoss" level="ERROR"/>
  <logger name="org.mongodb" level="INFO"/>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>